@import url(http://fonts.googleapis.com/css?family=Lato);
html,
body {
  margin: 0;
  height: 100%;
  width: 100%; }

footer {
  margin: 0 auto;
  /*margin-top: 10%;*/
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-family: 'Lato',sans-serif;
  font-size: 1em;
  text-align: center;
  color: #a1a1a1;
  background-color: #f0f0f0; }

.menu {
  position: absolute;
  background-image: url("../img/hamburger.png");
  background-color: red;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
  z-index: 5; }

ul.contents {
  visibility: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 200px;
  width: 200px;
  top: 20px;
  left: 40px; }

.contents li {
  position: relative;
  display: block;
  top: 30px;
  left: -40px;
  background-color: red;
  width: 200px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #474747;
  /*Figure out why the border is not working later */
  text-align: center;
  font-family: 'Lato',sans-serif;
  font-size: 1em;
  color: #ffffff; }
  .contents li:nth-last-child(2) {
    border: none; }
  .contents li:hover {
    background-color: #474747; }

.menu:hover {
  background-color: #474747;
  -webkit-transition: all 1s linear;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s;
  cursor: pointer; }

.welcome {
  width: 100%;
  height: 100%;
  background: url("../img/bowman-field.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .welcome h1 {
    position: absolute;
    margin: 0;
    width: 100%;
    font-family: 'Lato',sans-serif;
    font-size: 3.5em;
    color: #ffffff;
    text-shadow: 3px 3px #000000;
    text-align: center;
    opacity: 0; }

.about {
  background-color: #4d94ff;
  height: 850px;
  width: 100%;
/*margin-top: 200px; */}
  .about h1 {
    background-image: url("../img/Me.jpg");
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 29%;
    width: 23%;
    margin: 0 auto;
  }
  .about p {
    position: relative;
    margin: 0;
    width: 50%;
    left: 25%;
    top: 5%;
    text-align: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em; }
  .about .banner {

    background-image: url("../img/University_of_Richmond.png");
    background-repeat: no-repeat;
    width: 24%;
    height: 35%;
    margin: 0 auto;
    margin-top: 10%;
  }

.mentor {
  background-color: #ff8330;
  height: 600px;
  width: 100%;
/*  margin-top: 200px;*/ }
  .mentor .professorImage {
    position: relative;
    background-image: url("../img/JuanGilbert.jpg");
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 38%;
    width: 22%;
    left: 39%;
    top: 5%; }
  .mentor .web-icon {
    position: relative;
    display: inline-block;
    background-color: #fff;
    background-image: url("../img/WEB_ICON.jpg");
    background-repeat: no-repeat;
    background-position: center;
    left: 0%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: all 1s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear; }
  .mentor .link {
    position: relative;
    border-bottom: 1px solid #fff;
    width: 500px;
    left: 25%;
    cursor: pointer; }
  .mentor .juan-site {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 50%;
    left: 40%;
    top: 5%;
    text-align: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em; }
  .mentor p {
    position: relative;
    margin: 0;
    width: 50%;
    left: 25%;
    top: 5%;
    text-align: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em; }

.projects {
  background-color: #f0f0f0;
  height: 1850px;
  width: 100%;
  /*margin-top: 200px;*/
  color: #474747; }
  .projects p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em; }
  .projects h1 {
    margin: 0;
    padding-top: 10%;
    font-family: 'Lato', sans-serif; }
  .projects h4 {
    margin: 0;
    margin-top: 10px;
    font-family: 'Lato', sans-serif; }
  .projects .FOC-Site {
    position: relative;
    margin: 0;
    opacity: 0;
    top: -12%;
    width: 80%;
    height: 50%;
    z-index: 1;
    background-image: url("../img/FOC-Site.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in; }
  .projects .primeIII {
    position: relative;
    bottom: 25%;
    width: 80%;
    height: 50%; }
    .projects .primeIII .primeImage {
      position: relative;
      margin: 0;
      padding: 0;
      top: -10%;
      width: 80%;
      height: 80%;
      opacity: 0;
      background-image: url("../img/PrimeIII.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      -webkit-transition: opacity 0.5s ease-in;
      -moz-transition: opacity 0.5s ease-in;
      -o-transition: opacity 0.5s ease-in;
      -ms-transition: opacity 0.5s ease-in;
      transition: opacity 0.5s ease-in;
      z-index: 1; }

.journal {
  background-color: #2E2E2E;
  width: 100%;
/*  margin-top: 200px;*/
  color: #fff;
  font-family: 'Lato', sans-serif; }
  .journal .entry {
    position: relative;
    top: 5%;
    left: 5%; }
    .journal .entry h1 {
      font-size: 2.5em;
      display: inline-block; }
    .journal .entry h5 {
      position: relative;
      display: inline-block;
      font-size: 1.5em;
      left: 50%; }
    .journal .entry p {
      width: 80%;
      font-size: 1.5em; }

.connect {
  height: 10em;
  width: 100%;

/*  margin-top: 200px;*/
/*  border-top: 1px solid #a1a1a1;
  padding-bottom: 25em;*/

  border-top: 1px solid #a1a1a1;
  padding-bottom: 25em;
  }
  .connect h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 4em; }
  .connect .github {
    position: relative;
    width: 700px;
    left: 20%;
    cursor: pointer; }
    .connect .github .github-icon {
      padding: 0;
      margin: 0;
      position: relative;
      display: inline-block;
      background-color: #fff;
      background-image: url("../img/github.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      left: 0%;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      transition: all 1s linear;
      -webkit-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear; }
    .connect .github .myGithub {
      position: relative;
      display: inline-block;
      margin: 0;
      width: 50%;
      left: 28%;
      top: -25px;
      font-family: 'Lato', sans-serif;
      font-size: 1.5em; }
  .connect .email {
    position: relative;
    width: 700px;
    left: 20%;
    cursor: pointer; }
    .connect .email .email-icon {
      padding: 0;
      margin: 0;
      position: relative;
      display: inline-block;
      background-color: #fff;
      background-image: url("../img/email-icon.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      left: -5%;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      transition: all 1s linear;
      -webkit-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear; }
    .connect .email .myEmail {
      position: relative;
      display: inline-block;
      margin: 0;
      width: 50%;
      left: 20%;
      top: -50px;
      font-family: 'Lato', sans-serif;
      font-size: 1.5em; }

.wrapper {
  margin: 0 auto;
  height: 100%;
  width: 75%; }

.hoverClass {
  left: 250px;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Opera, Chrome, and Safari */
  -o-transform: rotate(360deg); }

.intro {
  opacity: 0.65;
  background-color: red;
  width: 100%;
  height: 80px; }
  .intro h1 {
    float: left;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 2em; }
  .intro ul {
    position: fixed;
    display: inline-block;
    margin: 0;
    left: 60%;
    list-style-type: none; }
    .intro ul li {
      float: right; }
      .intro ul li a {
        display: inline-block;
        height: 50px;
        color: #ffffff;
        margin-right: 25px;
        text-decoration: none; }
        .intro ul li a:hover {
          background-color: black; }
