@import url(http://fonts.googleapis.com/css?family=Lato);
$fiery-red: #FF0000;
$pretty-blue: #4D94FF;
$cremson: #FF8330;
$light-gray: #A1A1A1;
$dark-gray: #474747;
$dark-white: #F0F0F0;

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
}

footer {
	margin: 0 auto;
	margin-top: 10%;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-family: 'Lato',sans-serif;
	font-size: 1em;
	//border-top: 1px solid $light-gray;
	text-align: center;
	color: $light-gray;
	background-color: $dark-white;
}

.menu {
	position: absolute;
	background-image: url('../img/hamburger.png');
	background-color: $fiery-red;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	top: 5px;
	left: 5px;
	z-index: 5;
}

ul.contents {
	visibility: hidden;
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 200px;
	width: 200px;
	top: 20px;
	left: 40px;
}

.contents li{
	position:relative;
	display: block;
	top:30px;
	left:-40px;
	background-color: $fiery-red;
	width: 200px;
	height: 45px;
	line-height: 45px;
	border-bottom:1px solid $dark-gray;		/*Figure out why the border is not working later */
	text-align:center;
	font-family: 'Lato',sans-serif;
	font-size: 1em;
	color: #ffffff;

	&:nth-last-child(2){
		border: none;
	}

	&:hover{
		background-color: $dark-gray;
	}
}

.menu:hover {
	background-color: $dark-gray;
	-webkit-transition:all 1s linear; /* For Safari 3.1 to 6.0 */
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition:  all 1s;
	cursor:pointer;
}

.welcome {
	width: 100%;
	height:100%;
	background: url('../img/bowman-field.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;

 	h1{
 		position: absolute;
 		margin:0;
 		width: 100%;
 		font-family: 'Lato',sans-serif;
 		font-size: 3.5em;
 		color: #ffffff;
 		text-shadow: 3px 3px #000000;
 		text-align: center;
 		opacity: 0;
 	}
}

.about{
	background-color: $pretty-blue;
	height: 850px;
	width: 100%;
	margin-top: 200px;
	
	h1 {
		position: relative;
		background-image: url('../img/Me.jpg');
		background-repeat: no-repeat;
		border-radius: 50%;
		height: 28%;
		width: 24%;
		left: 39%;
		top: 5%;
	}

	p {
		position:relative;
		margin: 0;
		width: 50%;
		left: 25%;
		top: 5%;
		text-align: center;
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
	}

	.banner {
		position:relative;
 		background-image: url('../img/University_of_Richmond.png');
 		background-repeat: no-repeat;
 		width: 35%;
 		height: 35%;
 		left: 38%;
 		top: 10%;
 	}
}

.mentor {
	background-color: $cremson;
	height: 600px;
	width: 100%;
	margin-top: 200px;

	.professorImage {
		position: relative;
		background-image: url('../img/JuanGilbert.jpg');
		background-repeat: no-repeat;
		border-radius: 50%;
		height: 38%;
		width: 22%;
		left: 39%;
		top: 5%;
	}
	.web-icon {
		position: relative;
		display: inline-block;
		background-color: #fff;
		background-image: url('../img/WEB_ICON.jpg');
		background-repeat: no-repeat;
		background-position: center;
		left:0%;
		width: 55px;
		height: 55px;
		border-radius: 50%;
		transition: all 1s linear;
		-webkit-transition: all 0.5s linear;
		-ms-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
	}

	.link {
		position:relative;
		border-bottom: 1px solid #fff;
		width: 500px;
		left: 25%;
		cursor:pointer;
	}

	.juan-site {
		position:relative;
		display: inline-block;
		margin: 0;
		width: 50%;
		left: 40%;
		top: 5%;
		text-align: center;
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
		//text-decoration: none;
	}

	p {
		position:relative;
		margin: 0;
		width: 50%;
		left: 25%;
		top: 5%;
		text-align: center;
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
	}
}

.projects {
	background-color: $dark-white;
	height: 1850px;
	width: 100%;
	margin-top: 200px;
	color: $dark-gray;
	
	p{

		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
	}

	h1 {
		margin: 0;
		padding-top: 10%;
		font-family: 'Lato', sans-serif;
	}
	h4 {
		margin: 0;
		margin-top: 10px;
		font-family: 'Lato', sans-serif;
	}
	.FOC-Site {
		position: relative;
		margin: 0;
		opacity: 0;
		top:-12%;
		width: 80%;
		height: 50%;
		z-index: 1;
		background-image: url('../img/FOC-Site.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		-webkit-transition: opacity 0.5s ease-in;
   		-moz-transition: opacity 0.5s ease-in;
    	-o-transition: opacity 0.5s ease-in;
    	-ms-transition: opacity 0.5s ease-in;
    	transition: opacity 0.5s ease-in;
	}

	.primeIII {
		position: relative;
		bottom: 25%;
		width: 80%;
		height: 50%;

		.primeImage {
			position:relative;
			margin: 0;
			padding: 0;
			top:-10%;
			width: 80%;
			height: 80%;
			opacity: 0;
			background-image: url('../img/PrimeIII.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			-webkit-transition: opacity 0.5s ease-in;
   			-moz-transition: opacity 0.5s ease-in;
    		-o-transition: opacity 0.5s ease-in;
    		-ms-transition: opacity 0.5s ease-in;
    		transition: opacity 0.5s ease-in;
    		z-index: 1;
		}
	}
}

.journal {
	background-color: #2E2E2E;
	height: 1850px;
	width: 100%;
	margin-top: 200px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	.entry {
		position: relative;
		top: 5%;
		left:5%;
	
		h1 {
			font-size: 2.5em;
			display: inline-block;
		}

		h5 {
			position: relative;
			display: inline-block;
			font-size: 1.5em;
			left: 50%;
		}

		p {
			width: 80%;
			font-size: 1.5em;
		}
	}
	
}

.connect {
	height: 55%;
	width: 100%;
	margin-top: 200px;
	border-top: 1px solid $light-gray;

	h1 {
		text-align: center;
		font-family: 'Lato', sans-serif;
		font-size: 4em;
	}
	.github {
		position:relative;
		width: 700px;
		left: 20%;
		cursor:pointer;

		.github-icon{
			padding: 0;
			margin: 0;
			position: relative;
			display: inline-block;
			background-color: #fff;
			background-image: url('../img/github.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100% 100%;
			left:0%;
			width: 65px;
			height: 65px;
			border-radius: 50%;
			transition: all 1s linear;
			-webkit-transition: all 0.5s linear;
			-ms-transition: all 0.5s linear;
			-o-transition: all 0.5s linear;
		}

		.myGithub {
			position:relative;
			display: inline-block;
			margin: 0;
			width: 50%;
			left: 28%;
			top:-25px;
			font-family: 'Lato', sans-serif;
			font-size: 1.5em;
			//line-height: 100%;
		}
	}

	.email {
		position:relative;
		//border-bottom: 1px solid #000;
		width: 700px;
		left: 20%;
		cursor:pointer;

		.email-icon{
			padding: 0;
			margin: 0;
			position: relative;
			display: inline-block;
			background-color: #fff;
			background-image: url('../img/email-icon.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100% 100%;
			left:-5%;
			width: 125px;
			height: 125px;
			border-radius: 50%;
			transition: all 1s linear;
			-webkit-transition: all 0.5s linear;
			-ms-transition: all 0.5s linear;
			-o-transition: all 0.5s linear;
		}

		.myEmail {
			position:relative;
			display: inline-block;
			margin: 0;
			width: 50%;
			left: 20%;
			top:-50px;
			font-family: 'Lato', sans-serif;
			font-size: 1.5em;
			//line-height: 100%;
		}
	}

}

.wrapper {
	margin: 0 auto;
	height: 100%;
	width: 75%;
}

.hoverClass {
	left: 250px;
	transform:rotate(360deg);
	-ms-transform:rotate(360deg); /* IE 9 */
	-webkit-transform:rotate(360deg); /* Opera, Chrome, and Safari */
	-o-transform: rotate(360deg);
}

.intro {
	opacity: 0.65;
	background-color: $fiery-red;
	width: 100%;
	height: 80px;

	h1 {
		float: left;
		margin: 0;
		font-family: 'Lato', sans-serif;
		color: #ffffff;
		font-size: 2em;
	}
	
	ul {
		position: fixed;
		display: inline-block;
		margin: 0;
		left:60%;
		 
		
		list-style-type: none;
		li {
			float:right;
			a{
				display:inline-block;
				height: 50px;
				color: #ffffff;
				margin-right: 25px;
				text-decoration: none;				
				&:hover{
					background-color: black;
				}
			}
		}
	}
}


